{% extends "layout.j2" %}
{% block body %}
<h2 class="ui header">Playbook : {{ meta.path }}</h2>

<table class="ui definition table">
  <tbody>
{% for key in data.keys() %}
    <tr><td class="right aligned">{{ key|capitalize }}</td><td>{{ data[key]|urlize }}</td></tr>
{% endfor %}
  </tbody>
</table>

<pre><code id="liftree_data">{{ extra }}</code></pre>

<h3 class="ui header">Playbook</h3>
<pre><code id="liftree_data">{{ extra.git }}</code></pre>

<h3 class="ui header">Role : {{ meta.renderer.extra.files.role }}</h3>
<pre><code id="liftree_data">{{ extra.role|to_yaml }}</code></pre>

{% endblock %}
