{% extends "layout.j2" %}
{% block body %}
<h2 class="ui header">Playbook : {{ meta.path }}</h2>

{% if data is iterable %}

<table class="ui definition table">
  <tbody>
{% for key in data.keys() %}
    <tr><td class="right aligned">{{ key|capitalize }}</td><td>{{ data[key]|urlize }}</td></tr>
{% endfor %}
{% if extra.git.status == 'M' %}
    <tr class="negative"><td class="right aligned">Git status</td><td>modified (untracked={{ extra.git.untracked }})</td></tr>
    <tr><td class="right aligned">Git diff</td><td><pre><code>{{ extra.git.diff }}</code></pre></td></tr>
{% else %}
    <tr class="positive"><td class="right aligned">Git status</td><td>Ok</td></tr>
{% endif %}
  </tbody>
</table>

{% else %}

<div class="ui warning message">
  <div class="header">
    No documentation found
  </div>
</div>

{% endif %}

<h3 class="ui header">Playbook view</h3>
<pre><code id="liftree_data">{{ extra.playbook }}</code></pre>

{% endblock %}

{% block script %}
{% endblock %}
