{% extends "layout.j2" %}
{% block body %}
<h2 class="ui header">The data coming from file</h2>
<pre><code>{{ data }}<code></pre>
<h2 class="ui header">The data coming from liftree</h2>
<pre><code>{{ meta|to_yaml }}<code></pre>
<h2 class="ui header">The extra data</h2>
<pre><code>{{ extra|to_yaml }}<code></pre>
{% endblock %}
